<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-profile">
          <!-- <div class="card-avatar">
                  <a href="javascript:void(0)">
                      <img class="img" src="./assets/img/faces/marc.jpg" />
                  </a>
              </div>-->
          <div class="card-body">
            <h6 class="card-category text-gray">{{client.provincia}}, {{client.pais}} </h6>
            <h4 class="card-title">{{client.apellido}}, {{client.nombre}}</h4>
            <p class="card-description">
              {{client.dni}} <br>
              {{client.mail}}<br>
              {{client.cel}} <br>
              {{client.nacimiento| date}} <br>
              <strong>ALTA: {{client.createdAt | date}}</strong> <br>
            </p>

            <h4 class="card-title text-primary">Saldo: $ {{client.dinero}}</h4>

            <a [routerLink]="['/edit']" [queryParams]="{id: client.id}" class="btn btn-danger btn-round">Editar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-danger">
            <h5 class="card-title">Generar QR</h5>

          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <ngx-qrcode [elementType]="elementType"  id="qrCodeImage"   [errorCorrectionLevel]="correctionLevel" [value]="value"
                    cssClass="bshadow">
                  </ngx-qrcode>
                </div>
              </div>
              <button mat-raised-button (click)="generar()" class="btn btn-danger  btn-sm pull-right">Generar</button>
              <div class="clearfix"></div>
            </form>
            <a class="btn btn-danger  btn-sm pull-right" [href]="href" (click)="downloadImage()" download={{client.apellido}}{{client.nombre}}>1° Descargar QR</a>

            <a class="btn btn-danger  btn-sm pull-right" target="_blank" href="https://api.whatsapp.com/send?phone={{client.cel}}&text=Muchas gracias {{client.nombre}} por visitarnos. Te enviamos el código QR" >2° Enviar Whatsapp</a>
<!--             <button class="btn btn-danger  btn-sm pull-right"  (click)="onWhat()">Whatsapp</button>
 -->
          </div>
        </div>
        <div class="card">
          <div class="card-body">
           <!-- <form [formGroup]="mailForm" (ngSubmit)="onSend()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Correo electrónico" type="email" formControlName="mail" required>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                [disabled]="mailForm.invalid">Enviar QR</button>
              <div class="clearfix"></div>
            </form>-->
            <form [formGroup]="whatForm" (ngSubmit)="onSendWhat()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Celular" type="number" formControlName="cel" required>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                [disabled]="whatForm.invalid">Enviar QR</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Últimos movimientos</h4>
            <p class="card-category"> Últimos movimientos registrados por el sistema</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="table-responsive">
                <mat-form-field>
                  <mat-label>Buscar</mat-label>
                  <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
                </mat-form-field>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort class="table">

                  <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dia - Hora </th>
                    <td mat-cell *matCellDef="let trans"> {{trans.createdAt | date: "dd/MM/yyyy HH:mm"}} </td>
                  </ng-container>

                  <ng-container matColumnDef="dinero">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe </th>
                    <td mat-cell *matCellDef="let trans">

                      <div *ngIf="trans.ingreso==true;">
                        <p style="color: darkgreen;">+{{trans.dinero}}</p>
                      </div>
                      <div *ngIf="trans.ingreso==false;">
                        <p style="color:red;">-{{trans.dinero}}</p>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef width="10%"> Acciones </th>
                    <td mat-cell *matCellDef="let client">
                      <mat-form-field>
                        <mat-label>Acciones</mat-label>
                        <mat-select>

                          <mat-option>
                            <a class="nav-link" (click)="delete(trans.id)" [routerLink]="">
                              Eliminar
                            </a>
                          </mat-option>

                        </mat-select>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-danger">
            <h5 class="card-title">Recargar cuenta</h5>
            <p class="card-category">Ingrese importe a cargar en la cuenta</p>
          </div>
          <div class="card-body">
            <form [formGroup]="transForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Importe" type="number" min="0" max="5000" formControlName="dinero" required>
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                [disabled]="transForm.invalid">Cargar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-danger">
            <h5 class="card-title">Quitar dinero</h5>
            <p class="card-category">Ingrese importe a quitar en la cuenta</p>
          </div>
          <div class="card-body">
            <form [formGroup]="transnegForm" (ngSubmit)="onSubmit1()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Importe" type="number" min="0" formControlName="dinero" required>
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                [disabled]="transnegForm.invalid">Descontar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
   
   
  </div>
</div>